.game{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.gameLayer{
	position: absolute;
	height: 100%;
	width: 350%;
	top: 0;
	left: var(--foregroundLeft);
	
	z-index: 3;
}

.gameLayer .layer{
	position: relative;
	width: 100%;
	height: 10%;	
}
.gameLayer .layer img{
	height: 100%;
}

.gameLayer .layer div:hover{
	background-color: rgba(0,0,0,0.1);
}
/*
#layer9{
	background-image: url("../image/ground/mainground.gif");
	background-repeat: repeat-x;
	background-size: auto 100%;
}*/